.my_message_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 3px;
}

.own{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    gap: 3px;
}

.msg_sender{
    color: darkorange;
    padding-left: 5px;
    font-size: 14.5px;
    font-weight: 600;
    text-align: left;
    width: 45%;
}

.msg-msg{
    width: 45%;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 15px 0 15px 0;
}

.main-msg{
    width: 100%;
    font-size: 14px;
    word-wrap: break-word;
}

.time{
    width: 45%;
    font-size: 11px;
    text-align: right;
}



@media(max-width:480px){
    .msg_sender{
        font-size: 11px;
        letter-spacing: .4px;
        width: 47%;
    }
    
    .msg-msg{
        padding: 8px;
        border-radius: 8px 0 8px 0;
        width: 47%;
    }
    
    .main-msg{
        font-size: 11px;
        font-weight: 500;
        letter-spacing: .3px;
    }
    
    .time{
        width: 47%;
        font-size: 8px;
        text-align: right;
        font-weight: 500;
        letter-spacing: .2px;
    }
}


@media(max-width:320px){
    .msg_sender{
        font-size: 9px;
        letter-spacing: .2px;
    }
    
    .msg-msg{
        padding: 5px;
        border-radius: 6px 0 6px 0;
    }
    
    .main-msg{
        font-size: 9px;
        font-weight: 500;
        letter-spacing: .3px;
    }
    
    .time{
        width: 47%;
        font-size: 7px;
        text-align: right;
        font-weight: 500;
        letter-spacing: .2px;
    }
}